
@{
    ViewBag.Title = "XacNhanDonHang";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Xác Nhận Đơn Hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <p style="text-align:center">Đơn hàng của quý khách đã được chúng tôi ghi nhận.
                Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn
            </p>
        </div> 
    </div>
</div>