
@{
    ViewBag.Title = "DangKy";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Đăng Ký</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <p style="color:red;text-align:center;font-weight:bold;padding-bottom:20px">
                @ViewBag.ThongBao
            </p>
            <form action="/User/DangKy" method="post">
                <table align="center">
                    <tr>
                        <td height="40px" style="padding-bottom:20px">
                            <p style="font-weight:bold">
                                Tên Khách Hàng:
                            </p>
                        </td>
                        <td style="padding-bottom:20px"></td>
                        <td height="40px" style="padding-bottom:20px">
                            <input type="text" name="hoten" required />
                        </td>
                    </tr>

                    <tr>
                        <td height="40px" style="padding-bottom:20px">
                            <p style="font-weight:bold">
                                Số Điện Thoại:
                            </p>
                        </td>
                        <td style="padding-bottom:20px"></td>
                        <td height="40px" style="padding-bottom:20px">
                            <input type="text" name="sodt" required />
                        </td>
                    </tr>

                    <tr>
                        <td height="40px" style="padding-bottom:20px">
                            <p style="font-weight:bold">
                                Email:
                            </p>
                        </td>
                        <td style="padding-bottom:20px"></td>
                        <td height="40px" style="padding-bottom:20px">
                            <input type="text" name="email" required />
                        </td>
                    </tr>

                    <tr>
                        <td height="40px" style="padding-bottom:20px">
                            <p style="font-weight:bold">
                                Mật Khẩu:
                            </p>
                        </td>
                        <td style="padding-bottom:20px"></td>
                        <td height="40px" style="padding-bottom:20px">
                            <input type="password" name="matkhau" required />
                        </td>
                    </tr>

                    <tr>
                        <td height="40px" style="padding-bottom:20px">
                            <p style="font-weight:bold">
                                Địa Chỉ:
                            </p>
                        </td>
                        <td style="padding-bottom:20px"></td>
                        <td height="40px" style="padding-bottom:20px">
                            <input type="text" name="diachi" required />
                        </td>
                    </tr>

                    <tr>
                        <td height="40px" style="padding-bottom:20px">
                            <p style="font-weight:bold">
                                Ngày Sinh:
                            </p>
                        </td>
                        <td style="padding-bottom:20px"></td>
                        <td height="40px" style="padding-bottom:20px">
                            <input type="date" name="ngaysinh" required />
                        </td>
                    </tr>

                    <tr>
                        <td height="40px" style="padding-bottom:20px">
                            <p style="font-weight:bold">
                                Giới Tính:
                            </p>
                        </td>
                        <td style="padding-bottom:20px"></td>
                        <td height="40px" style="padding-bottom:20px">
                            <input list="gioitinhs" name="gioitinh" id="gioitinh" required />
                            <datalist id="gioitinhs">
                                <option value="Nam" selected></option>
                                <option value="Nữ" ></option>
                            </datalist>
                        </td>
                    </tr>

                    <tr>
                        <td height="40px" style="padding-bottom:20px">
                            <p style="font-weight:bold">
                                Quận Huyện:
                            </p>
                        </td>
                        <td style="padding-bottom:20px"></td>
                        <td height="40px" style="padding-bottom:20px">
                            @Html.DropDownList("maQH")
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="3" align="center">
                            <input type="submit" value="Đăng Ký" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>